%h1 This is now the placeholder
- @activities.each do |activity|
  %h3= link_to activity.date, activity
  %p
    = activity.duration.to_formatted_s(:time)
    = activity.distance
  %p= activity.activity
